<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>JetAlpha</title>

        <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/vnd.microsoft.ico" />
             <link rel="icon" href="images/favicon.ico" type="image/vnd.microsoft.icon" /> -->

        <link rel="stylesheet" href="/static/styles/foundation.css" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="/static/styles/style.css" />
    </head>
    <body>
        <div class="row text-center" id="top">
            <a href="http://julialang.org/">
                <img src="http://res.cloudinary.com/kdr2/image/upload/c_crop,h_280,w_500/v1455894085/misc/jetalpha-logo-v2.png" alt="JetAlpha" />
            </a>

            <h1>JetAlpha</h1>

            <p>
                Proudly driven by Julia
            </p>
        </div>


        <div class="row text-center">
            <div class="large-4 medium-4 columns">
                <a href="https://julia.pubu.im/reg/8n4bwmmlkym8c98">
                    <i class="fa fa-comments fa-5x"></i>
                    <h4>Discuss</h4>
                </a>
                <p>Talk with/about JetAlpha on <br /> PUBU.IM</p>
            </div>

            <div class="large-4 medium-4 columns">
                <a href="http://julia-cn.readthedocs.org/zh_CN/latest/">
                    <i class="fa fa-book fa-5x"></i>
                    <h4>Documentation/中文文档</h4>
                </a>
                <p><a href="https://github.com/JuliaCN/julia_zh_cn">Contribute on GitHub</a></p>
            </div>

            <div class="large-4 medium-4 columns">
                <a href="http://julia.org.cn">
                    <i class="fa fa-question fa-5x"></i>
                    <h4>问答社区</h4>
                </a>
                <p>高质量问答<br /> 积累知识与经验 </p>
            </div>

        </div>

        <div class="row text-center">
            <div class="large-4 medium-4 columns">
                <a href="#">
                    <i class="fa fa-institution fa-5x"></i>
                    <h4>Meetups</h4>
                </a>
                <p>Coming Soon ...</p>
            </div>

            <div class="large-4 medium-4 columns">
                <a href="http://julialang.org/community/#qq-groups">
                    <i class="fa fa-group fa-5x"></i>
                    <h4>Group</h4>
                </a>
            </div>

            <div class="large-4 medium-4 columns">
                <a href="#">
                    <i class="fa fa-ellipsis-h fa-5x"></i>
                    <h4>More...</h4>
                    <p>Coming Soon ...</p>
                </a>
            </div>
        </div>

        <a href="https://github.com/KDr2/JetAlpha.jl"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    </body>
</html>
